services:
  backend:
    build:
      context: .  # This allows Docker to see requirements.txt in the root
      dockerfile: backend/Dockerfile
    ports:
      - "5001:5000"  # Change this to 5001 to avoid the Mac AirPlay error
    volumes:
      - ./backend:/app
    env_file:
      - .env
    environment:
      - FLASK_ENV=development

  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    stdin_open: true 
    tty: true